@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Site Performance Result</h1>

	@using (Html.BeginForm("TestResults", "Results", FormMethod.Get))
	{
		<p>Enter test ID:</p>
		<input type="number" required name="testId" />
		<input type="submit" value="Enter" />
	}
	<br />
	@using (Html.BeginForm("Index", "Home", FormMethod.Get))
	{
		<input type="submit" value="Back to Tests" />
	}
</div>

<div>
    @if (ViewBag.TestResult == null)
    {
    <br /><h4 class=" text-center">Test not Found. Please check if ID is correct:</h4>
    }
    else
    {
		@await Html.PartialAsync("_ResultsTable")
    }
</div>
