@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Site Performance Test</h1>

	@using (Html.BeginForm("GetPerformance", "Home", FormMethod.Get))
	{
		<p>Enter site URL:</p>
		<input size="60" type="url" required name="url" />
		<input type="submit" value="Test" />
	}
    <br />
</div>

@(Html
    .Grid((IEnumerable<WebCrawler.Model.PerformanceTest>)ViewBag.Tests)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("ID");
        columns.Add(model => model.Date).Titled("Date");
        columns.Add(model => model.SiteUrl).Titled("Site URL");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)