@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Site Performance Test</h1>

	<br />
	@using (Html.BeginForm("GetPerformance", "Home", FormMethod.Get))
	{
		<p>Enter site URL:</p>
		<input size="60" type="url" required name="url" />
		<input type="submit" value="Test" />
	}
	<br />

	@using (Html.BeginForm("TestResults", "Home", FormMethod.Get, new { id = "TestResult" }))
	{
		<p>Get Test Results by Id:</p>
		<input size="60" type="number" required name="testId" />
		<input type="submit" value="Test" />
	}
	<br />
</div>

@(Html
	.Grid((IQueryable<WebCrawler.Model.PerformanceTest>)ViewBag.Tests)
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.Date).Titled("Date");
		columns.Add(model => model.SiteUrl).Titled("Site URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
)

<script>
	document.addEventListener("rowclick", e => {
		var form = document.getElementById("TestResult");
		form[0].value = e.detail.data.Id
		form.submit()
	});
</script>